name: two tetrahedral - cad to openmc

on:
  pull_request:
    branches:
      - develop
      - main
  push:
    branches:
      - main

jobs:
  testing:
    runs-on: ubuntu-latest
    steps:

      - name: checkout actions
        uses: actions/checkout@v4

      - name: use upstream test composite action
        uses: ./.github/actions/dependencies_cad_to_openmc

      - shell: bash
        env:
          OPENMC_CROSS_SECTIONS: /home/runner/work/model_benchmark_zoo/model_benchmark_zoo/cross_sections.xml
        run: |
          pytest tests/test_cad_to_openmc/test_csg_cad_two_tetrahedrons.py
